bash.exe.stackdump
/token.pickle
icons/
/last_items.json
pylib_dist/
/itemChoices.jsonlog
/cache.pickle
/cache.json
/chosen_ids.txt
/nohup.out
/continuously_update_local_cache.pyc
/last_result.json
/exceptions.log
