<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.adam.gdrive-alfred</string>
	<key>connections</key>
	<dict>
		<key>5E0DF2E9-EF1A-4D58-8546-EE59D257BCF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA11CAB7-FEF2-4893-B060-FEA746A3AAA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72583939-B156-493D-B520-B43629D5DF03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E0DF2E9-EF1A-4D58-8546-EE59D257BCF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B4E46BA7-52E3-4DF1-B93A-2CC2C97F7D4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACB7B8EF-BAFD-4930-940C-CB441FCAC70D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>445FD78D-F8BE-460A-8536-8ECB7D0F7E57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4E46BA7-52E3-4DF1-B93A-2CC2C97F7D4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CFB6004-0D4A-4A80-BDC7-1F9AA13211EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B966525C-30BE-46D6-AECC-3FEEA9D971AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF005B1E-FCB4-4BC5-A67C-A7C492A8E340</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6994F0D-7E0F-4E9E-BD8B-D014CB2FBEAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACB7B8EF-BAFD-4930-940C-CB441FCAC70D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B966525C-30BE-46D6-AECC-3FEEA9D971AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Schirmacher</string>
	<key>description</key>
	<string>Search your google drive! (enter search terms)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Adam's drive search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "latest/gdrive-alfred.alfredworkflow"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EA11CAB7-FEF2-4893-B060-FEA746A3AAA9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>UPDATE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5E0DF2E9-EF1A-4D58-8546-EE59D257BCF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>d</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>"Searching..."</string>
				<key>script</key>
				<string>nohup python3 continuously_update_local_cache.py 1&gt;continuously_update_local_cache.stdout 2&gt;continuously_update_local_cache.stderr &amp;
nohup python3 continuously_get_latest_workflow.py 1&gt;continuously_get_latest_workflow.stdout 2&gt;continuously_get_latest_workflow.stderr &amp;
python3 main.py --action=search --query "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Add some search terms</string>
				<key>title</key>
				<string>Search Google Drive and open...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72583939-B156-493D-B520-B43629D5DF03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1CFB6004-0D4A-4A80-BDC7-1F9AA13211EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>UPDATE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B4E46BA7-52E3-4DF1-B93A-2CC2C97F7D4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "latest/gdrive-alfred.alfredworkflow"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>445FD78D-F8BE-460A-8536-8ECB7D0F7E57</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>UPDATE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>ACB7B8EF-BAFD-4930-940C-CB441FCAC70D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>"Searching..."</string>
				<key>script</key>
				<string>nohup python3 continuously_update_local_cache.py 1&gt;continuously_update_local_cache.stdout 2&gt;continuously_update_local_cache.stderr &amp;
nohup python3 continuously_get_latest_workflow.py 1&gt;continuously_get_latest_workflow.stdout 2&gt;continuously_get_latest_workflow.stderr &amp;
python3 main.py --action=search --query "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Add some search terms</string>
				<key>title</key>
				<string>Search Google Drive and Copy to Clipboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D6994F0D-7E0F-4E9E-BD8B-D014CB2FBEAF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>UPDATE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B966525C-30BE-46D6-AECC-3FEEA9D971AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AF005B1E-FCB4-4BC5-A67C-A7C492A8E340</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1CFB6004-0D4A-4A80-BDC7-1F9AA13211EA</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>445FD78D-F8BE-460A-8536-8ECB7D0F7E57</key>
		<dict>
			<key>note</key>
			<string>Open update file</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>5E0DF2E9-EF1A-4D58-8546-EE59D257BCF5</key>
		<dict>
			<key>note</key>
			<string>UPDATE</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>72583939-B156-493D-B520-B43629D5DF03</key>
		<dict>
			<key>note</key>
			<string>Main Search</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>ACB7B8EF-BAFD-4930-940C-CB441FCAC70D</key>
		<dict>
			<key>note</key>
			<string>UPDATE</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>AF005B1E-FCB4-4BC5-A67C-A7C492A8E340</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>B4E46BA7-52E3-4DF1-B93A-2CC2C97F7D4A</key>
		<dict>
			<key>note</key>
			<string>NO UPDATE</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>B966525C-30BE-46D6-AECC-3FEEA9D971AD</key>
		<dict>
			<key>note</key>
			<string>NO UPDATE</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>D6994F0D-7E0F-4E9E-BD8B-D014CB2FBEAF</key>
		<dict>
			<key>note</key>
			<string>Main Search</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>EA11CAB7-FEF2-4893-B060-FEA746A3AAA9</key>
		<dict>
			<key>note</key>
			<string>Open update file</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/Decker87/gdrive-alfred</string>
</dict>
</plist>
